@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-hair.eot');
	src: local('FF Meta Pro Hair'), local('FFMetaPro-Hair'),
		url('https://i.smxm.ga/css/fonts/meta-pro-hair.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-hair.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-hair.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-hair.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-hair.svg#meta-pro-hair') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.eot');
	src: local('FF Meta Pro Hair Italic'), local('FFMetaPro-HairItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-hair.svg#meta-pro-it-hair') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-thin.eot');
	src: local('FF Meta Pro Thin'), local('FFMetaPro-Thin'),
		url('https://i.smxm.ga/css/fonts/meta-pro-thin.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-thin.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-thin.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-thin.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-thin.svg#meta-pro-thin') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.eot');
	src: local('FF Meta Pro Thin Italic'), local('FFMetaPro-ThinItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-thin.svg#meta-pro-it-thin') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-light.eot');
	src: local('FF Meta Pro Light'), local('FFMetaPro-Light'),
		url('https://i.smxm.ga/css/fonts/meta-pro-light.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-light.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-light.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-light.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-light.svg#meta-pro-light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-light.eot');
	src: local('FF Meta Pro Light Italic'), local('FFMetaPro-LightItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-light.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-light.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-light.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-light.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-light.svg#meta-pro-it-light') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-reg.eot');
	src: local('FF Meta Pro Normal'), local('FFMetaPro-Normal'),
		url('https://i.smxm.ga/css/fonts/meta-pro-reg.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-reg.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-reg.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-reg.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-reg.svg#meta-pro-reg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.eot');
	src: local('FF Meta Pro Normal Italic'), local('FFMetaPro-NormalItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-reg.svg#meta-pro-it-reg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-book.eot');
	src: local('FF Meta Pro Book'), local('FFMetaPro-Book'),
		url('https://i.smxm.ga/css/fonts/meta-pro-book.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-book.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-book.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-book.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-book.svg#meta-pro-book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-book.eot');
	src: local('FF Meta Pro Book Italic'), local('FFMetaPro-BookItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-book.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-book.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-book.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-book.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-book.svg#meta-pro-it-book') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-med.eot');
	src: local('FF Meta Pro Medium'), local('FFMetaPro-Medium'),
		url('https://i.smxm.ga/css/fonts/meta-pro-med.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-med.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-med.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-med.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-med.svg#meta-pro-med') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-med.eot');
	src: local('FF Meta Pro Medium Italic'), local('FFMetaPro-MediumItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-med.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-med.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-med.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-med.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-med.svg#meta-pro-it-med') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-bold.eot');
	src: local('FF Meta Pro Bold'), local('FFMetaPro-Bold'),
		url('https://i.smxm.ga/css/fonts/meta-pro-bold.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-bold.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-bold.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-bold.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-bold.svg#meta-pro-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.eot');
	src: local('FF Meta Pro Bold Italic'), local('FFMetaPro-BoldItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-bold.svg#meta-pro-it-bold') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-black.eot');
	src: local('FF Meta Pro Black'), local('FFMetaPro-Black'),
		url('https://i.smxm.ga/css/fonts/meta-pro-black.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-black.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-black.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-black.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-black.svg#meta-pro-black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'FF Meta Pro';
	src: url('https://i.smxm.ga/css/fonts/meta-pro-it-black.eot');
	src: local('FF Meta Pro Black Italic'), local('FFMetaPro-BlackItalic'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-black.eot?#iefix') format('embedded-opentype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-black.woff2') format('woff2'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-black.woff') format('woff'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-black.ttf') format('truetype'),
		url('https://i.smxm.ga/css/fonts/meta-pro-it-black.svg#meta-pro-it-black') format('svg');
	font-weight: 900;
	font-style: italic;
}