@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-thin.eot');
    src: local('Brandon Grotesque Thin'), local('BrandonGrotesque-Thin'),
    	url('https://i.smxm.ga/css/fonts/brandon-thin.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-thin.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-thin.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-thin.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-thin.svg#brandon-thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-thin.eot');
	src: local('Brandon Grotesque Thin Italic'), local('BrandonGrotesque-ThinItalic'),
	    url('https://i.smxm.ga/css/fonts/brandon-it-thin.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-thin.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-thin.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-thin.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-thin.svg#brandon-it-thin') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-light.eot');
	src: local('Brandon Grotesque Light'), local('BrandonGrotesque-Light'),
    	url('https://i.smxm.ga/css/fonts/brandon-light.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-light.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-light.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-light.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-light.svg#brandon-light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-light.eot');
	src: local('Brandon Grotesque Light Italic'), local('BrandonGrotesque-LightItalic'),
    	url('https://i.smxm.ga/css/fonts/brandon-it-light.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-light.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-light.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-light.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-light.svg#brandon-it-light') format('svg');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-reg.eot');
	src: local('Brandon Grotesque Regular'), local('BrandonGrotesque-Regular'),
    	url('https://i.smxm.ga/css/fonts/brandon-reg.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-reg.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-reg.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-reg.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-reg.svg#brandon-reg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-reg.eot');
	src: local('Brandon Grotesque Regular Italic'), local('BrandonGrotesque-RegularItalic'),
    	url('https://i.smxm.ga/css/fonts/brandon-it-reg.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-reg.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-reg.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-reg.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-reg.svg#brandon-it-reg') format('svg');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
	src: url('https://i.smxm.ga/css/fonts/brandon-med.eot');
    src: local('Brandon Grotesque Medium'), local('BrandonGrotesque-Medium'),
    	url('https://i.smxm.ga/css/fonts/brandon-med.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-med.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-med.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-med.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-med.svg#brandon-med') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-med.eot');
	src: local('Brandon Grotesque Medium Italic'), local('BrandonGrotesque-MediumItalic'),
	    url('https://i.smxm.ga/css/fonts/brandon-it-med.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-med.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-med.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-med.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-med.svg#brandon-it-med') format('svg');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-bold.eot');
	src: local('Brandon Grotesque Bold'), local('BrandonGrotesque-Bold'),
    	url('https://i.smxm.ga/css/fonts/brandon-bold.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-bold.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-bold.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-bold.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-bold.svg#brandon-bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-bold.eot');
	src: local('Brandon Grotesque Bold Italic'), local('BrandonGrotesque-BoldItalic'),
    	url('https://i.smxm.ga/css/fonts/brandon-it-bold.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-bold.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-bold.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-bold.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-bold.svg#brandon-it-bold') format('svg');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-black.eot');
	src: local('Brandon Grotesque Black'), local('BrandonGrotesque-Black'),
    	url('https://i.smxm.ga/css/fonts/brandon-black.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-black.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-black.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-black.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-black.svg#brandon-black') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Brandon';
    src: url('https://i.smxm.ga/css/fonts/brandon-it-black.eot');
	src: local('Brandon Grotesque Black Italic'), local('BrandonGrotesque-BlackItalic'),
    	url('https://i.smxm.ga/css/fonts/brandon-it-black.eot?#iefix') format('embedded-opentype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-black.woff2') format('woff2'),
        url('https://i.smxm.ga/css/fonts/brandon-it-black.woff') format('woff'),
        url('https://i.smxm.ga/css/fonts/brandon-it-black.ttf') format('truetype'),
        url('https://i.smxm.ga/css/fonts/brandon-it-black.svg#brandon-it-black') format('svg');
    font-weight: 900;
    font-style: italic;
}